<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>在线考试</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <link href="/css/iconfont.css" rel="stylesheet" type="text/css" />
    <link href="/css/test.css" rel="stylesheet" type="text/css" />

    <style>
        .hasBeenAnswer {
            background: #5d9cec;
            color:#fff;
        }

    </style>
</head>

<body>
<div class="main">
    <!--nr start-->
    <div class="test_main">
        <div class="nr_left">
            <div class="test">
                <form  th:id="${eid}">
                    <div class="test_title">
                        <p class="test_time">
                            <i class="icon iconfont">&#xe6fb;</i><b class="alt-1" id="testTime"></b>
                        </p>
                        <font><input type="button" name="test_jiaojuan" value="交卷" onclick="submitTest()" id="submitBtn" /></font>
                    </div>
                    <span id="testTimeSpan" style="display:none;" th:text="${etime}"></span>
                    <div class="test_content">
                        <div class="test_content_title">
                            <h2>单选题</h2>
                            <p>
                                <span>共</span><i class="content_lit"><span th:text="${singleChoiceQuestions.size()}" id="singleChoiceQuestionCount"></span></i><span>题，</span><span>合计</span><i class="content_fs"><span th:text="${singleChoiceQuestions.size()}"></span></i><span>分</span>
                            </p>
                        </div>
                    </div>
                    <div class="test_content_nr" th:each="singleChoiceQuestion,iterStat:${singleChoiceQuestions}">
                        <ul>

                            <li th:id="'qu_1_'+${iterStat.count}">
                                <div class="test_content_nr_tt">
                                    <i th:utext="${iterStat.count}"></i><span>(1分)</span><span th:text="${singleChoiceQuestion.qtext}" style="font-size: 16px;"></span><b class="icon iconfont">&#xe881;</b>
                                </div>

                                <div class="test_content_nr_main">
                                    <ul>

                                        <li class="option">

                                            <input type="radio" class="radioOption" th:name="'singleChoiceAnswer'+${iterStat.count}"
                                                   th:id="'singleChoice'+${iterStat.count}+'_A'" value="A"
                                            />
                                            <label th:for="'singleChoice'+${iterStat.count}+'_A'" style="font-size: 14px;">
                                                A.
                                                <span class="ue" style="display: inline;" th:utext="${singleChoiceQuestion.getOptionA()}"></span>
                                            </label>
                                        </li>

                                        <li class="option">

                                            <input type="radio" class="radioOption" th:name="'singleChoiceAnswer'+${iterStat.count}"
                                                   th:id="'singleChoice'+${iterStat.count}+'_B'" value="B"
                                            />
                                            <label th:for="'singleChoice'+${iterStat.count}+'_B'" style="font-size: 14px;">
                                                B.
                                                <span class="ue" style="display: inline;" th:utext="${singleChoiceQuestion.getOptionB()}"></span>
                                            </label>
                                        </li>

                                        <li class="option">

                                            <input type="radio" class="radioOption" th:name="'singleChoiceAnswer'+${iterStat.count}"
                                                   th:id="'singleChoice'+${iterStat.count}+'_C'" value="C"
                                            />
                                            <label th:for="'singleChoice'+${iterStat.count}+'_C'" style="font-size: 14px;">
                                                C.
                                                <span class="ue" style="display: inline;" th:utext="${singleChoiceQuestion.getOptionC()}"></span>
                                            </label>
                                        </li>

                                        <li class="option">

                                            <input type="radio" class="radioOption" th:name="'singleChoiceAnswer'+${iterStat.count}"
                                                   th:id="'singleChoice'+${iterStat.count}+'_D'" value="D"
                                            />
                                            <label th:for="'singleChoice'+${iterStat.count}+'_D'" style="font-size: 14px;">
                                                D.
                                                <span class="ue" style="display: inline;" th:utext="${singleChoiceQuestion.getOptionD()}"></span>
                                            </label>
                                        </li>

                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>

                    <div class="test_content">
                        <div class="test_content_title">
                            <h2>多选题</h2>
                            <p>
                                <span>共</span><i class="content_lit"><span th:text="${multipleChoiceQuestions.size()}" id="multipleChoiceQuestionCount"></span></i><span>题，</span><span>合计</span><i class="content_fs"><span th:text="${multipleChoiceQuestions.size()}"></span></i><span>分</span>
                            </p>
                        </div>
                    </div>
                    <div class="test_content_nr" th:each="multipleChoiceQuestion,iterStat:${multipleChoiceQuestions}">
                        <ul>

                            <li th:id="'qu_2_'+${iterStat.count}">
                                <div class="test_content_nr_tt">
                                    <i th:utext="${iterStat.count}"></i><span>(1分)</span><span th:text="${multipleChoiceQuestion.qtext}" style="font-size: 16px;"></span><b class="icon iconfont">&#xe881;</b>
                                </div>

                                <div class="test_content_nr_main">
                                    <ul>
                                        <input type="text" th:id="'multipleChoiceAnswer'+${iterStat.count}" th:name="'multipleChoiceAnswer'+${iterStat.count}" style="display:none;">
                                        <li class="option">

                                            <input type="checkbox" class="checkOption"
                                                   th:id="'multipleChoice'+${iterStat.count}+'_A'" value="A"
                                            />

                                            <label th:for="'multipleChoice'+${iterStat.count}+'_A'" style="font-size: 14px;">
                                                A.
                                                <span class="ue" style="display: inline;" th:utext="${multipleChoiceQuestion.getOptionA()}"></span>
                                            </label>
                                        </li>

                                        <li class="option">

                                            <input type="checkbox" class="checkOption"
                                                   th:id="'multipleChoice'+${iterStat.count}+'_B'" value="B"
                                            />

                                            <label th:for="'multipleChoice'+${iterStat.count}+'_B'" style="font-size: 14px;">
                                                B.
                                                <span class="ue" style="display: inline;" th:utext="${multipleChoiceQuestion.getOptionB()}"></span>
                                            </label>
                                        </li>

                                        <li class="option">


                                            <input type="checkbox" class="checkOption"
                                                   th:id="'multipleChoice'+${iterStat.count}+'_C'" value="C"
                                            />

                                            <label th:for="'multipleChoice'+${iterStat.count}+'_C'" style="font-size: 14px;" >
                                                C.
                                                <span class="ue" style="display: inline;" th:utext="${multipleChoiceQuestion.getOptionC()}"></span>
                                            </label>
                                        </li>

                                        <li class="option">
                                            <input type="checkbox" class="checkOption"
                                                   th:id="'multipleChoice'+${iterStat.count}+'_D'" value="D"
                                            />

                                            <label th:for="'multipleChoice'+${iterStat.count}+'_D'" style="font-size: 14px;">
                                                D.
                                                <span class="ue" style="display: inline;" th:utext="${multipleChoiceQuestion.getOptionD()}"></span>
                                            </label>
                                        </li>

                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>

                    <div class="test_content">
                        <div class="test_content_title">
                            <h2>判断题</h2>
                            <p>
                                <span>共</span><i class="content_lit"><span th:text="${trueFalseQuestions.size()}" id="trueFalseQuestionCount"></span></i><span>题，</span><span>合计</span><i class="content_fs"><span th:text="${trueFalseQuestions.size()}"></span></i><span>分</span>
                            </p>
                        </div>
                    </div>
                    <div class="test_content_nr" th:each="trueFalseQuestion,iterStat:${trueFalseQuestions}">
                        <ul>

                            <li th:id="'qu_3_'+${iterStat.count}">
                                <div class="test_content_nr_tt">
                                    <i th:utext="${iterStat.count}"></i><span>(1分)</span><span th:text="${trueFalseQuestion.qtext}" style="font-size: 16px;"></span><b class="icon iconfont">&#xe881;</b>
                                </div>

                                <div class="test_content_nr_main">
                                    <ul>
                                        <li class="option">

                                            <input type="radio" class="radioOption" th:name="'trueFalseAnswer'+${iterStat.count}"
                                                   th:id="'trueFalse'+${iterStat.count}+'_A'" value="A"
                                            />
                                            <label th:for="'trueFalse'+${iterStat.count}+'_A'" style="font-size: 14px;">
                                                A.
                                                <span class="ue" style="display: inline;" th:utext="${trueFalseQuestion.getOptionA()}"></span>
                                            </label>
                                        </li>

                                        <li class="option">

                                            <input type="radio" class="radioOption" th:name="'trueFalseAnswer'+${iterStat.count}"
                                                   th:id="'trueFalse'+${iterStat.count}+'_B'" value="B"
                                            />
                                            <label th:for="'trueFalse'+${iterStat.count}+'_B'" style="font-size: 14px;">
                                                B.
                                                <span class="ue" style="display: inline;" th:utext="${trueFalseQuestion.getOptionB()}"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>


                </form>
            </div>

        </div>

        <div class="nr_right">
            <div class="nr_rt_main">
                <div class="rt_nr1">
                    <div class="rt_nr1_title">
                        <h1>
                            <i class="icon iconfont">&#xe692;</i>答题卡
                        </h1>
                        <p class="test_time">
                            <span id="hours" style="font-size: 16px;">00</span>:
                            <span id="minutes" style="font-size: 16px;">00</span>:
                            <span id="seconds" style="font-size: 16px;">00</span>
                        </p>
                    </div>

                    <!-- 单选题答题卡 -->
                    <div class="rt_content">
                        <div class="rt_content_tt">
                            <h2>单选题</h2>
                        </div>
                        <div class="rt_content_nr answerSheet" >
                            <ul>
                                <li th:each="singleChoiceQuestion,iterStat:${singleChoiceQuestions}">
                                    <a th:href="'#qu_1_'+${iterStat.count}"><span th:text="${iterStat.count}"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!--多选题答题卡-->
                    <div class="rt_content">
                        <div class="rt_content_tt">
                            <h2>多选题</h2>
                        </div>
                        <div class="rt_content_nr answerSheet">
                            <ul>
                                <li th:each="multipleChoiceQuestion,iterStat:${multipleChoiceQuestions}">
                                    <a th:href="'#qu_2_'+${iterStat.count}"><span th:text="${iterStat.count}"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!--判断题答题卡-->
                    <div class="rt_content">
                        <div class="rt_content_tt">
                            <h2>判断题</h2>
                        </div>
                        <div class="rt_content_nr answerSheet">
                            <ul>
                                <li th:each="trueFalseQuestion,iterStat:${trueFalseQuestions}">
                                    <a th:href="'#qu_3_'+${iterStat.count}"><span th:text="${iterStat.count}"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!--nr end-->
    <div class="foot"></div>
</div>


<span style="display:none" th:text="${eid}" id="eid"></span>
<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/jquery.easy-pie-chart.js"></script>
<!--时间js-->
<script src="/js/jquery.countdown.js"></script>
<script>
    window.jQuery(function ($) {
        "use strict";

        $('time').countDown({
            with_separators: false
        });
        $('.alt-1').countDown({
            css_class: 'countdown-alt-1'
        });
        $('.alt-2').countDown({
            css_class: 'countdown-alt-2'
        });


    });
    //刷新页面后，恢复答题卡
    window.onload = function () {
        console.log(sessionStorage);
        var singleChoiceQuestionCount = document.getElementById("singleChoiceQuestionCount").innerHTML;
        var multipleChoiceQuestionCount = document.getElementById("multipleChoiceQuestionCount").innerHTML;
        var trueFalseQuestionCount = document.getElementById("trueFalseQuestionCount").innerHTML;
        console.log("单选题数量：" + singleChoiceQuestionCount);
        console.log("多选题数量：" + multipleChoiceQuestionCount);
        console.log("判断题数量：" + trueFalseQuestionCount);
        for (var i = 1; i <= singleChoiceQuestionCount; i++) {

            var answer = sessionStorage.getItem("qu_1_" + i);
            if (answer) {
                var radio = document.getElementById("singleChoice" + i + "_" + answer);
                radio.checked = true;
                var cardLi = $('a[href=#qu_1_' + i + ']');
                if (!cardLi.hasClass('hasBeenAnswer')) {
                    cardLi.addClass('hasBeenAnswer');
                }
            }
        }

        for (var i = 1; i <= trueFalseQuestionCount; i++) {
            var answer = sessionStorage.getItem("qu_3_" + i);
            if (answer) {
                var radio = document.getElementById("trueFalse" + i + "_" + answer);
                radio.checked = true;
                var cardLi = $('a[href=#qu_3_' + i + ']');
                if (!cardLi.hasClass('hasBeenAnswer')) {
                    cardLi.addClass('hasBeenAnswer');
                }
            }
        }


        for (var i = 1; i <= multipleChoiceQuestionCount; i++) {
            var answer = sessionStorage.getItem("qu_2_" + i);
            if (answer) {
                for (var j = 0; j < answer.length; j++) {
                    var checkbox = document.getElementById("multipleChoice" + i + "_" + answer[j]);
                    checkbox.checked = true;
                }
                var cardLi = $('a[href=#qu_2_' + i + ']');
                if (!cardLi.hasClass('hasBeenAnswer')) {
                    cardLi.addClass('hasBeenAnswer');
                }
            }

        }

    }


    $(function () {
        $('.radioOption').click(function () {
            var questionId = $(this).closest('.test_content_nr_main').closest('li').attr('id'); // 得到题目ID
            var cardLi = $('a[href=#' + questionId + ']'); // 根据题目ID找到对应答题卡
            //得到选择的答案
            var answer = '';
            if ($(this).is(':checked')) {
                answer = $(this).val();
                sessionStorage.setItem(questionId, answer);
                console.log(questionId + "答案：" + answer);
            }

            // 设置已答题
            if (!cardLi.hasClass('hasBeenAnswer')) {
                cardLi.addClass('hasBeenAnswer');
            }
        });
        $('.checkOption').change(function () {
            var questionId = $(this).closest('.test_content_nr_main').closest('li').attr('id'); // 得到题目ID
            var cardLi = $('a[href=#' + questionId + ']'); // 根据题目ID找到对应答题卡
            //得到选择的答案
            var answer = sessionStorage.getItem(questionId);
            if (answer == null) {
                answer = '';
            }
            for (var i = 0; i < $(this).length; i++) {
                if ($(this)[i].checked) {
                    answer += $(this)[i].value;
                }
                else {
                    answer = answer.replace($(this)[i].value, '');
                }
            }

            sessionStorage.setItem(questionId, answer);
            var answerCount = questionId.charAt(questionId.length - 1);
            document.getElementById("multipleChoiceAnswer"+answerCount).value = answer;

            console.log(questionId + "答案：" + answer);


            // 设置已答题
            if (!cardLi.hasClass('hasBeenAnswer')) {
                cardLi.addClass('hasBeenAnswer');
            }
        });
    });

    submitTest = function () {
        //提示是否交卷
        if (!confirm("是否交卷？")) {
            return false;
        }
        //提交答案
        var eid = document.getElementById("eid").innerHTML;
        var form = document.getElementById(eid);
        var formData = new FormData(form);
        formData.append("eid", eid);
        fetch('/submitTest', {
            method: 'POST',
            body: formData
        })
            .then(data =>
            {
                window.location.href = "myExam";
            })

    }




</script>

<script>
    var countdownTime = 0;
    if(sessionStorage.getItem("currentTime")!=null){
         countdownTime = parseInt(sessionStorage.getItem("currentTime"));
        console.log("倒计时：" + countdownTime);
    }else{
        countdownTime = document.getElementById("testTimeSpan").innerHTML * 60;
    }


    function updateCountdown() {
        var hours = Math.floor(countdownTime / 3600);
        var minutes = Math.floor((countdownTime % 3600) / 60);
        var seconds = countdownTime % 60;

        // 格式化时间为两位数
        hours = hours < 10 ? '0' + hours : hours;
        minutes = minutes < 10 ? '0' + minutes : minutes;
        seconds = seconds < 10 ? '0' + seconds : seconds;

        // 更新页面上的倒计时显示
        document.getElementById('hours').textContent = hours;
        document.getElementById('minutes').textContent = minutes;
        document.getElementById('seconds').textContent = seconds;

        // 每秒减少倒计时
        if (countdownTime > 0) {
            countdownTime--;
            setTimeout(updateCountdown, 1000);
        }
        //将剩余时间写入sessionStorage
        sessionStorage.setItem("currentTime", String(countdownTime));
    }

    // 初始化倒计时
    updateCountdown();


</script>

</body>

</html>