<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>在线考试</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <link href="/css/iconfont.css" rel="stylesheet" type="text/css" />
    <link href="/css/test.css" rel="stylesheet" type="text/css" />

    <style>
        .AnswerRight {
            background: #5FB878;
            color:#fff;
        }
        .AnswerWrong {
            background: #ac2925;
            color:#fff;
        }
        .NoAnswer {
            background: #f90;
            color:#fff;
        }

    </style>
</head>

<body>
<div class="main">
    <!--nr start-->
    <div class="test_main">
        <div class="nr_left">
            <div class="test">
                <form  th:id="${eid}">
                    <div class="test_content">
                        <div class="test_content_title">
                            <h2>单选题</h2>
                            <p>
                                <span>共</span><i class="content_lit"><span th:text="${singleChoiceQuestions.size()}" id="singleChoiceQuestionCount"></span></i><span>题，</span><span>合计</span><i class="content_fs"><span th:text="${singleChoiceQuestions.size()}"></span></i><span>分</span>
                            </p>
                        </div>
                    </div>
                    <div class="test_content_nr" th:each="singleChoiceQuestion,iterStat:${singleChoiceQuestions}">
                        <ul>

                            <li th:id="'qu_1_'+${iterStat.count}">
                                <div class="test_content_nr_tt">
                                    <i th:utext="${iterStat.count}"></i><span>(1分)</span><span th:text="${singleChoiceQuestion.qtext}" style="font-size: 16px;"></span><b class="icon iconfont">&#xe881;</b>
                                </div>

                                <div class="test_content_nr_main">
                                    <ul>

                                        <li class="option">

                                            <input type="radio" class="radioOption" th:name="'singleChoiceAnswer'+${iterStat.count}"
                                                   th:id="'singleChoice'+${iterStat.count}+'_A'" value="A"
                                            />
                                            <label th:for="'singleChoice'+${iterStat.count}+'_A'" style="font-size: 14px;">
                                                A.
                                                <span class="ue" style="display: inline;" th:utext="${singleChoiceQuestion.getOptionA()}"></span>
                                            </label>
                                        </li>

                                        <li class="option">

                                            <input type="radio" class="radioOption" th:name="'singleChoiceAnswer'+${iterStat.count}"
                                                   th:id="'singleChoice'+${iterStat.count}+'_B'" value="B"
                                            />
                                            <label th:for="'singleChoice'+${iterStat.count}+'_B'" style="font-size: 14px;">
                                                B.
                                                <span class="ue" style="display: inline;" th:utext="${singleChoiceQuestion.getOptionB()}"></span>
                                            </label>
                                        </li>

                                        <li class="option">

                                            <input type="radio" class="radioOption" th:name="'singleChoiceAnswer'+${iterStat.count}"
                                                   th:id="'singleChoice'+${iterStat.count}+'_C'" value="C"
                                            />
                                            <label th:for="'singleChoice'+${iterStat.count}+'_C'" style="font-size: 14px;">
                                                C.
                                                <span class="ue" style="display: inline;" th:utext="${singleChoiceQuestion.getOptionC()}"></span>
                                            </label>
                                        </li>

                                        <li class="option">

                                            <input type="radio" class="radioOption" th:name="'singleChoiceAnswer'+${iterStat.count}"
                                                   th:id="'singleChoice'+${iterStat.count}+'_D'" value="D"
                                            />
                                            <label th:for="'singleChoice'+${iterStat.count}+'_D'" style="font-size: 14px;">
                                                D.
                                                <span class="ue" style="display: inline;" th:utext="${singleChoiceQuestion.getOptionD()}"></span>
                                            </label>
                                        </li>


                                    </ul>

                                    <div class="test_content_nr_answer" style="margin-top: 20px; font-size: 16px;">
                                        正确答案：<span th:id="'singleChoiceRightAnswer'+${iterStat.count}" th:utext="${singleChoiceQuestion.answer}" style="margin-right: 10px;"></span>
                                        你的答案：<span th:id="'singleChoiceUserAnswer'+${iterStat.count}" th:utext="${userSingleChoiceAnswers[iterStat.index]}"></span>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>

                    <div class="test_content">
                        <div class="test_content_title">
                            <h2>多选题</h2>
                            <p>
                                <span>共</span><i class="content_lit"><span th:text="${multipleChoiceQuestions.size()}" id="multipleChoiceQuestionCount"></span></i><span>题，</span><span>合计</span><i class="content_fs"><span th:text="${multipleChoiceQuestions.size()}"></span></i><span>分</span>
                            </p>
                        </div>
                    </div>
                    <div class="test_content_nr" th:each="multipleChoiceQuestion,iterStat:${multipleChoiceQuestions}">
                        <ul>

                            <li th:id="'qu_2_'+${iterStat.count}">
                                <div class="test_content_nr_tt">
                                    <i th:utext="${iterStat.count}"></i><span>(1分)</span><span th:text="${multipleChoiceQuestion.qtext}" style="font-size: 16px;"></span><b class="icon iconfont">&#xe881;</b>
                                </div>

                                <div class="test_content_nr_main">
                                    <ul>
                                        <input type="text" th:id="'multipleChoiceAnswer'+${iterStat.count}" th:name="'multipleChoiceAnswer'+${iterStat.count}" style="display:none;">
                                        <li class="option">

                                            <input type="checkbox" class="checkOption"
                                                   th:id="'multipleChoice'+${iterStat.count}+'_A'" value="A"
                                            />

                                            <label th:for="'multipleChoice'+${iterStat.count}+'_A'" style="font-size: 14px;">
                                                A.
                                                <span class="ue" style="display: inline;" th:utext="${multipleChoiceQuestion.getOptionA()}"></span>
                                            </label>
                                        </li>

                                        <li class="option">

                                            <input type="checkbox" class="checkOption"
                                                   th:id="'multipleChoice'+${iterStat.count}+'_B'" value="B"
                                            />

                                            <label th:for="'multipleChoice'+${iterStat.count}+'_B'" style="font-size: 14px;">
                                                B.
                                                <span class="ue" style="display: inline;" th:utext="${multipleChoiceQuestion.getOptionB()}"></span>
                                            </label>
                                        </li>

                                        <li class="option">


                                            <input type="checkbox" class="checkOption"
                                                   th:id="'multipleChoice'+${iterStat.count}+'_C'" value="C"
                                            />

                                            <label th:for="'multipleChoice'+${iterStat.count}+'_C'" style="font-size: 14px;" >
                                                C.
                                                <span class="ue" style="display: inline;" th:utext="${multipleChoiceQuestion.getOptionC()}"></span>
                                            </label>
                                        </li>

                                        <li class="option">
                                            <input type="checkbox" class="checkOption"
                                                   th:id="'multipleChoice'+${iterStat.count}+'_D'" value="D"
                                            />

                                            <label th:for="'multipleChoice'+${iterStat.count}+'_D'" style="font-size: 14px;">
                                                D.
                                                <span class="ue" style="display: inline;" th:utext="${multipleChoiceQuestion.getOptionD()}"></span>
                                            </label>
                                        </li>

                                    </ul>
                                    <div class="test_content_nr_answer" style="margin-top: 20px; font-size: 16px;">
                                        正确答案：<span th:id="'multipleChoiceRightAnswer'+${iterStat.count}" th:utext="${multipleChoiceQuestion.answer}" style="margin-right: 10px;"></span>
                                        你的答案：<span th:id="'multipleChoiceUserAnswer'+${iterStat.count}" th:utext="${userMultipleChoiceAnswers[iterStat.index]}"></span>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>

                    <div class="test_content">
                        <div class="test_content_title">
                            <h2>判断题</h2>
                            <p>
                                <span>共</span><i class="content_lit"><span th:text="${trueFalseQuestions.size()}" id="trueFalseQuestionCount"></span></i><span>题，</span><span>合计</span><i class="content_fs"><span th:text="${trueFalseQuestions.size()}"></span></i><span>分</span>
                            </p>
                        </div>
                    </div>
                    <div class="test_content_nr" th:each="trueFalseQuestion,iterStat:${trueFalseQuestions}">
                        <ul>

                            <li th:id="'qu_3_'+${iterStat.count}">
                                <div class="test_content_nr_tt">
                                    <i th:utext="${iterStat.count}"></i><span>(1分)</span><span th:text="${trueFalseQuestion.qtext}" style="font-size: 16px;"></span><b class="icon iconfont">&#xe881;</b>
                                </div>

                                <div class="test_content_nr_main">
                                    <ul>
                                        <li class="option">

                                            <input type="radio" class="radioOption" th:name="'trueFalseAnswer'+${iterStat.count}"
                                                   th:id="'trueFalse'+${iterStat.count}+'_A'" value="A"
                                            />
                                            <label th:for="'trueFalse'+${iterStat.count}+'_A'" style="font-size: 14px;">
                                                A.
                                                <span class="ue" style="display: inline;" th:utext="${trueFalseQuestion.getOptionA()}"></span>
                                            </label>
                                        </li>

                                        <li class="option">

                                            <input type="radio" class="radioOption" th:name="'trueFalseAnswer'+${iterStat.count}"
                                                   th:id="'trueFalse'+${iterStat.count}+'_B'" value="B"
                                            />
                                            <label th:for="'trueFalse'+${iterStat.count}+'_B'" style="font-size: 14px;">
                                                B.
                                                <span class="ue" style="display: inline;" th:utext="${trueFalseQuestion.getOptionB()}"></span>
                                            </label>
                                        </li>
                                    </ul>
                                    <div class="test_content_nr_answer" style="margin-top: 20px; font-size: 16px;">
                                        正确答案：<span th:id="'trueFalseRightAnswer'+${iterStat.count}" th:utext="${trueFalseQuestion.answer}" style="margin-right: 10px;"></span>
                                        你的答案：<span th:id="'trueFalseUserAnswer'+${iterStat.count}" th:utext="${userTrueFalseAnswers[iterStat.index]}"></span>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>


                </form>
            </div>

        </div>

        <div class="nr_right">
            <div class="nr_rt_main">
                <div class="rt_nr1">
                    <div class="rt_nr1_title">
                        <h1>
                            <i class="icon iconfont">&#xe692;</i>答题卡
                        </h1>
                        <span style="font-size: 16px;">总分：</span><span th:text="${totalScore}" style="font-size: 16px;"></span>
                        <span style="font-size: 16px;">得分：</span><span th:text="${userScore}" style="font-size: 16px;"></span>
                    </div>

                    <!-- 单选题答题卡 -->
                    <div class="rt_content">
                        <div class="rt_content_tt">
                            <h2>单选题</h2>
                        </div>
                        <div class="rt_content_nr answerSheet" >
                            <ul>
                                <li th:each="singleChoiceQuestion,iterStat:${singleChoiceQuestions}">
                                    <a th:href="'#qu_1_'+${iterStat.count}"><span th:text="${iterStat.count}"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!--多选题答题卡-->
                    <div class="rt_content">
                        <div class="rt_content_tt">
                            <h2>多选题</h2>
                        </div>
                        <div class="rt_content_nr answerSheet">
                            <ul>
                                <li th:each="multipleChoiceQuestion,iterStat:${multipleChoiceQuestions}">
                                    <a th:href="'#qu_2_'+${iterStat.count}"><span th:text="${iterStat.count}"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!--判断题答题卡-->
                    <div class="rt_content">
                        <div class="rt_content_tt">
                            <h2>判断题</h2>
                        </div>
                        <div class="rt_content_nr answerSheet">
                            <ul>
                                <li th:each="trueFalseQuestion,iterStat:${trueFalseQuestions}">
                                    <a th:href="'#qu_3_'+${iterStat.count}"><span th:text="${iterStat.count}"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!--nr end-->
    <div class="foot"></div>
</div>

<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/jquery.easy-pie-chart.js"></script>
<script>

    // 等待页面加载完成后执行
    document.addEventListener('DOMContentLoaded', function() {
        // 获取所有具有特定类名的复选框
        var checkboxes = document.querySelectorAll('input.checkOption');
        // 遍历并禁用每个复选框
        checkboxes.forEach(function(checkbox) {
            checkbox.disabled = true;
        });
        var radioOptions = document.querySelectorAll('input.radioOption');
        radioOptions.forEach(function(radioOption) {
            radioOption.disabled = true;
        });




    });

    $(function(){
        var singleChoiceQuestionCount = document.getElementById("singleChoiceQuestionCount").innerHTML;
        for(var i=1;i<=singleChoiceQuestionCount;i++){
            var userAnswer = document.getElementById("singleChoiceUserAnswer"+i).innerHTML;
            var cardLi = $('a[href=#qu_1_' + i + ']');
            if(userAnswer==="U"){
                cardLi.addClass("NoAnswer");
                continue;
            }
            //选择对应的单选框
            var radioOption = document.getElementById("singleChoice"+i+"_"+userAnswer);
            radioOption.checked = true;
            var rightAnswer = document.getElementById("singleChoiceRightAnswer"+i).innerHTML;
            if(userAnswer===rightAnswer)cardLi.addClass("AnswerRight");
            else cardLi.addClass("AnswerWrong");
        }





    });

    $(function(){
        var multipleChoiceQuestionCount = document.getElementById("multipleChoiceQuestionCount").innerHTML;
        for(var i=1;i<=multipleChoiceQuestionCount;i++){
            var userAnswer = document.getElementById("multipleChoiceUserAnswer"+i).innerHTML;
            console.log("multipleChoiceUserAnswer"+i+"="+userAnswer);
            var cardLi = $('a[href=#qu_2_' + i + ']');
            if(userAnswer==="U"){
                cardLi.addClass("NoAnswer");
                continue;
            }
            for (var j = 0; j < userAnswer.length; j++) {
                var checkbox = document.getElementById("multipleChoice" + i + "_" + userAnswer[j]);
                checkbox.checked = true;
            }
            var rightAnswer = document.getElementById("multipleChoiceRightAnswer"+i).innerHTML;
            if(userAnswer===rightAnswer)cardLi.addClass("AnswerRight");
            else cardLi.addClass("AnswerWrong");
        }

    });
    $(function(){
        var trueFalseQuestionCount = document.getElementById("trueFalseQuestionCount").innerHTML;
        for(var i=1;i<=trueFalseQuestionCount;i++){
            var userAnswer = document.getElementById("trueFalseUserAnswer"+i).innerHTML;
            var cardLi = $('a[href=#qu_3_' + i + ']');
            if(userAnswer==="U"){
                cardLi.addClass("NoAnswer");
                continue;
            }
            var radioOption = document.getElementById("trueFalse"+i+"_"+userAnswer);
            radioOption.checked = true;
            var rightAnswer = document.getElementById("trueFalseRightAnswer"+i).innerHTML;
            if(userAnswer===rightAnswer)cardLi.addClass("AnswerRight");
            else cardLi.addClass("AnswerWrong");
        }

    });





</script>




</body>

</html>