<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>
    <div th:replace="~{include/AdminNav::bootstrap}"></div>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #6495ED;
            color: white;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>

</head>
<body>
<div th:replace="~{include/AdminNav::adminNav }"></div>
<div style=" margin-left: 17%; ">
    <h1>试题管理</h1>
    <iframe id="myIframe" name="myIframe" style="display:none;"></iframe>
    <form  method="post"  th:action="@{/searchQuestion}" >
        <input type="text" name="searchText" id="searchText" placeholder="搜索关键词" class="form-control" style="width: 40%; display: inline-block;" >
        <select id="courseId" name="courseId" class="form-control" required style="display: inline-block; width: 200px;" >
            <option value="-1">全部</option>
            <option th:each="course : ${courses}" th:value="${course.cid}" th:text="${course.cname}"></option>
        </select>
        <select id="questionType" name="questionType" class="form-control" required style="display: inline-block; width: 200px;">
            <option value="-1">全部</option>
            <option value="1">单选题</option>
            <option value="2">多选题</option>
            <option value="3">判断题</option>
        </select>
        <input type="submit" value="搜索" class="btn btn-primary" onclick="saveKeyword()">
    </form>
    <span th:text="${ListMode}" id="listModel" style="display: none;"></span>
    <script>
        function saveKeyword() {
            var keyword = document.getElementById("searchText").value;
            sessionStorage.setItem("keyword", keyword);
        }
        var keyword = sessionStorage.getItem("keyword");
        if (keyword) {
            document.getElementById("searchText").value = keyword;
        }
    </script>

    <div id="questionTable">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>题号</th>
            <th>类型</th>
            <th>课程</th>
            <th>题干</th>
            <th>答案</th>
            <th style="width: 15%">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question,iterStat: ${questions}">
            <td th:text="${question.qid}" th:id="'qid'+${iterStat.count}"></td>
            <td th:text="${question.typeName}" th:id="'typeName'+${iterStat.count}"></td>
            <td th:text="${question.courseName}" th:id="'courseName'+${iterStat.count}"></td>
            <td style=" max-height: 100px; max-width: 800px;">
                <div style=" max-height: 100px; max-width: 800px; text-overflow: ellipsis; overflow: hidden;  ">
                    <span th:text="${question.qtext}"  th:id="'qtext'+${iterStat.count}"></span>
                </div>
            </td>
            <td th:text="${question.answer}" th:id="'answer'+${iterStat.count}"></td>
            <td>
                <div id="DisplayInfoDiv" style="display: none;">
                    <span th:text="${question.cid}" th:id="'cid'+${iterStat.count}"></span>
                    <span th:text="${question.qtype}" th:id="'qtype'+${iterStat.count}"></span>
                    <span th:text="${question.getOptionA()}" th:id="'optionA'+${iterStat.count}"></span>
                    <span th:text="${question.getOptionB()}" th:id="'optionB'+${iterStat.count}"></span>
                    <span th:text="${question.getOptionC()}" th:id="'optionC'+${iterStat.count}"></span>
                    <span th:text="${question.getOptionD()}" th:id="'optionD'+${iterStat.count}"></span>
                </div>
                <a href="#"  class="btn btn-primary" th:onclick = "'javascript:openEditQuestionModal(\''+${iterStat.count}+'\');'"  id="edit" >编辑</a>
                <a th:href="@{'/deleteQuestion?qid='+${question.qid}}" href="#" class="btn btn-danger" onclick="if (confirm('确认删除？') === false) return false;" id="delete" >删除</a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>

    <div style="margin-left: 30%; margin-top: 20px;" id = 'allQList'>
        <!--分页文字信息  -->
        <div class="col-md-6" style="margin-left:5%;">当前 <span th:text="${pageNum}"></span>页,总<span th:text="${totalPage}"></span>
            页,总 <span th:text="${AllQCount}"></span> 道题目</div>
        <!-- 分页条信息 -->
        <div class="col-md-6">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li><a th:href="@{/quesManage?page=1}" >首页</a></li>
                    <li><a th:href="@{/quesManage(page=${prevPage})}" >上一页</a></li>
                    <li><a th:href="@{/quesManage(page=${nextPage})}" >下一页</a></li>
                    <li><a th:href="@{/quesManage(page=${totalPage})}" >末页</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div style="margin-left: 30%; margin-top: 20px; display: none;" id = 'searchQList' >
        <!--分页文字信息  -->
        <div class="col-md-6" style="margin-left:5%;">当前 <span th:text="${pageNum}"></span>页,总<span th:text="${totalPage}"></span>
            页,总 <span th:text="${AllQCount}"></span> 道题目</div>
        <!-- 分页条信息 -->
        <div class="col-md-6">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li><a th:href="@{/searchQuestion(page=1,searchText=${searchText},courseId=${courseId},questionType=${questionType})}" >首页</a></li>
                    <li><a th:href="@{/searchQuestion(page=${prevPage},searchText=${searchText},courseId=${courseId},questionType=${questionType})}" >上一页</a></li>
                    <li><a th:href="@{/searchQuestion(page=${nextPage},searchText=${searchText},courseId=${courseId},questionType=${questionType})}" >下一页</a></li>
                    <li><a th:href="@{/searchQuestion(page=${totalPage},searchText=${searchText},courseId=${courseId},questionType=${questionType})}" >末页</a></li>
                </ul>
            </nav>
        </div>
    </div>


    <script>
        function openEditQuestionModal(count) {
            var qtype = $("#qtype" + count).text();

            //单选题
            if(qtype === "1") {
                $("#SingleQuestionModal").modal("show");
                $("#single_question").val($("#qtext" + count).text());
                $("#single_qid").val($("#qid" + count).text());
                $("#single_optionA").val($("#optionA" + count).text());
                $("#single_optionB").val($("#optionB" + count).text());
                $("#single_optionC").val($("#optionC" + count).text());
                $("#single_optionD").val($("#optionD" + count).text());
                $("#single_courseId").val($("#cid" + count).text());
                const answer = $("#answer" + count).text();
                $("#single_answer").val(answer);
                if(answer === "A") {
                    $("#single_answer1").prop("checked", true);
                }
                else if(answer === "B") {
                    $("#single_answer2").prop("checked", true);
                }
                else if(answer === "C") {
                    $("#single_answer3").prop("checked", true);
                }
                else if(answer === "D") {
                    $("#single_answer4").prop("checked", true);
                }
            }
            //多选题
            else if(qtype === "2") {
                $("#MulQuestionModal").modal("show");
                $("#mul_question").val($("#qtext" + count).text());
                $("#mul_qid").val($("#qid" + count).text());
                $("#mul_optionA").val($("#optionA" + count).text());
                $("#mul_optionB").val($("#optionB" + count).text());
                $("#mul_optionC").val($("#optionC" + count).text());
                $("#mul_optionD").val($("#optionD" + count).text());
                $("#mul_courseId").val($("#cid" + count).text());
                const answers = $("#answer" + count).text();

                if (answers.includes("A")) {
                    $("#mul_answer1").prop("checked", true);
                }
                if (answers.includes("B")) {
                    $("#mul_answer2").prop("checked", true);
                }
                if (answers.includes("C")) {
                    $("#mul_answer3").prop("checked", true);
                }
                if (answers.includes("D")) {
                    $("#mul_answer4").prop("checked", true);
                }
                $("#mul_answer").val(answers);
            }
            //判断题
            else if(qtype === "3") {
                $("#JudgeQuestionModal").modal("show");
                $("#judge_question").val($("#qtext" + count).text());
                $("#judge_qid").val($("#qid" + count).text());
                $("#judge_courseId").val($("#cid" + count).text());
                const answer = $("#answer" + count).text();
                $("#judge_answer").val(answer);
                if (answer === "A") {
                    $("#true_answer").prop("checked", true);
                } else if (answer === "B") {
                    $("#false_answer").prop("checked", true);
                }
            }



        }

        if($("#listModel").text() === "search")
        {
            document.getElementById("searchQList").style.display = "block";
            document.getElementById("allQList").style.display = "none";
        }
        document.getElementById("courseId").addEventListener("input", function() {
            sessionStorage.setItem("courseId", this.value);
        });
        document.getElementById("questionType").addEventListener("input", function() {
            sessionStorage.setItem("questionType", this.value);
        });
        var courseId = sessionStorage.getItem("courseId");
        var questionType = sessionStorage.getItem("questionType");
        if (courseId) {
            document.getElementById("courseId").value = courseId;
        }
        if (questionType) {
            document.getElementById("questionType").value = questionType;
        }
    </script>

</div>


<!-- 编辑用户模态框 -->
<div class="modal fade" id="MulQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog" role="document" style="width: 80%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="Label">编辑试题:</h4>
            </div>
            <form th:action="@{/editMultipleChoiceQuestion}" method="post" target="myIframe" style="margin-left: 10%; margin-right: 5%;">
                <input type="hidden" id="mul_qid" name="mul_qid" style="display:none;" >
                <div class="form-group" style="margin-left:10% ;margin-right:15%;text-align:center;" >
                    <span style="font-size: 18px">题干：</span>
                    <p>
                        <textarea rows="4" cols="30" id="mul_question" name ="mul_question" class="form-control" style="font-weight: bold;" placeholder="请输入题干" required></textarea>
                    </p>
                </div>
                <div class="form-group" style="text-align:center; width:40%; display: inline-block; margin-right: 10%;" >
                    <span style="font-size: 15px">选项 A：</span>
                    <p>
                        <textarea rows="2" cols="15" id="mul_optionA" name ="mul_optionA" class="form-control" style="font-weight: bold;" placeholder="请输入选项 A" required></textarea>
                    </p>
                </div>
                <div class="form-group" style="text-align:center; width:40%; display: inline-block;" >
                    <span style="font-size: 15px">选项 B：</span>
                    <p>
                        <textarea rows="2" cols="15" id="mul_optionB" name ="mul_optionB" class="form-control" style="font-weight: bold;" placeholder="请输入选项 B" required></textarea>
                    </p>
                </div>
                <div class="form-group" style="text-align:center; width:40%; display: inline-block; margin-right: 10%;" >
                    <span style="font-size: 15px">选项 C：</span>
                    <p>
                        <textarea rows="2" cols="15" id="mul_optionC" name ="mul_optionC" class="form-control" style="font-weight: bold;" placeholder="请输入选项 C" required></textarea>
                    </p>
                </div>
                <div class="form-group" style="text-align:center; width:40%; display: inline-block;" >
                    <span style="font-size: 15px">选项 D：</span>
                    <p>
                        <textarea rows="2" cols="15" id="mul_optionD" name ="mul_optionD" class="form-control" style="font-weight: bold;" placeholder="请输入选项 D" required></textarea>
                    </p>
                </div>

                <div class="form-group" style="font-size: 24px;text-align:center; width:40%; display: inline-block;" >
                    <span style="font-size: 20px">课程：</span>
                    <select id="mul_courseId" name="mul_courseId" class="form-control" required>
                        <option th:each="course : ${courses}" th:value="${course.cid}" th:text="${course.cname}"></option>
                    </select>
                </div>

                <div  class="form-group" style="font-size: 24px;text-align:center; width:40%; display: inline-block; margin-right: 10%;" >
                    <span style="font-size: 20px">正确答案：</span>
                    <input type="checkbox" id="mul_answer1" name="mul_answer1" value="A" style="transform: scale(1.5);"  >
                    <label for="mul_answer1">A</label>
                    <input type="checkbox" id="mul_answer2" name="mul_answer2" value="B" style="transform: scale(1.5);"  >
                    <label for="mul_answer2">B</label>
                    <input type="checkbox" id="mul_answer3" name="mul_answer3" value="C" style="transform: scale(1.5);"  >
                    <label for="mul_answer3">C</label>
                    <input type="checkbox" id="mul_answer4" name="mul_answer4" value="D" style="transform: scale(1.5);"  >
                    <label for="mul_answer4">D</label>
                    <input type="text" id="mul_answer" name="mul_answer" style="display:none;">
                </div>
                <div style="text-align:center; margin-top: 2%; margin-bottom: 2%;">
                    <button type="submit" class="btn btn-primary" onclick="saveAnswer()">提交</button>
                </div>


            </form>
        </div>
    </div>
</div>
<script>
    function saveAnswer() {
        var mul_answer = "";
        if ($("#mul_answer1").is(":checked")) {
            mul_answer += "A";
        }
        if ($("#mul_answer2").is(":checked")) {
            mul_answer += "B";
        }
        if ($("#mul_answer3").is(":checked")) {
            mul_answer += "C";
        }
        if ($("#mul_answer4").is(":checked")) {
            mul_answer += "D";
        }
        $("#mul_answer").val(mul_answer);
        document.location.reload();//重新加载当前页面

    }
    function reloadInfo() {
        document.location.reload();
    }
</script>

<!-- 编辑单选题模态框 -->
<div class="modal fade" id="SingleQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog" role="document" style="width: 80%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="Label1">编辑试题:</h4>
            </div>
            <form th:action="@{/editSingleChoiceQuestion}" method="post" target="myIframe" style="margin-left: 10%; margin-right: 5%;">
                <input type="hidden" id="single_qid" name="single_qid" style="display:none;" >
                <div class="form-group" style="margin-left:10% ;margin-right:15%;text-align:center;" >
                    <span style="font-size: 18px">题干：</span>
                    <p>
                        <textarea rows="4" cols="30" id="single_question" name ="single_question" class="form-control" style="font-weight: bold;" placeholder="请输入题干" required></textarea>
                    </p>
                </div>
                <div class="form-group" style="text-align:center; width:40%; display: inline-block; margin-right: 10%;" >
                    <span style="font-size: 15px">选项 A：</span>
                    <p>
                        <textarea rows="2" cols="15" id="single_optionA" name ="single_optionA" class="form-control" style="font-weight: bold;" placeholder="请输入选项 A" required></textarea>
                    </p>
                </div>
                <div class="form-group" style="text-align:center; width:40%; display: inline-block;" >
                    <span style="font-size: 15px">选项 B：</span>
                    <p>
                        <textarea rows="2" cols="15" id="single_optionB" name ="single_optionB" class="form-control" style="font-weight: bold;" placeholder="请输入选项 B" required></textarea>
                    </p>
                </div>
                <div class="form-group" style="text-align:center; width:40%; display: inline-block; margin-right: 10%;" >
                    <span style="font-size: 15px">选项 C：</span>
                    <p>
                        <textarea rows="2" cols="15" id="single_optionC" name ="single_optionC" class="form-control" style="font-weight: bold;" placeholder="请输入选项 C" required></textarea>
                    </p>
                </div>
                <div class="form-group" style="text-align:center; width:40%; display: inline-block;" >
                    <span style="font-size: 15px">选项 D：</span>
                    <p>
                        <textarea rows="2" cols="15" id="single_optionD" name ="single_optionD" class="form-control" style="font-weight: bold;" placeholder="请输入选项 D" required></textarea>
                    </p>
                </div>

                <div class="form-group" style="font-size: 24px;text-align:center; width:40%; display: inline-block;" >
                    <span style="font-size: 20px">课程：</span>
                    <select id="single_courseId" name="single_courseId" class="form-control" required>
                        <option th:each="course : ${courses}" th:value="${course.cid}" th:text="${course.cname}"></option>
                    </select>
                </div>
                <div  class="form-group" style="font-size: 24px;text-align:center; width:40%; display: inline-block; margin-right: 10%;" >
                    <span style="font-size: 20px">正确答案：</span>
                    <input type="radio" id="single_answer1" name="single_answer" value="A" required>
                    <label for="single_answer1">A</label>
                    <input type="radio" id="single_answer2" name="single_answer" value="B">
                    <label for="single_answer2">B</label>
                    <input type="radio" id="single_answer3" name="single_answer" value="C">
                    <label for="single_answer3">C</label>
                    <input type="radio" id="single_answer4" name="single_answer" value="D">
                    <label for="single_answer4">D</label>
                </div>

                <div style="text-align:center; margin-top: 2%; margin-bottom: 2%;">
                    <button type="submit" class="btn btn-primary" onclick="reloadInfo()">提交</button>
                </div>


            </form>
        </div>
    </div>
</div>
<!-- 编辑判断题模态框 -->
<div class="modal fade" id="JudgeQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog" role="document" style="width: 80%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="Label2">编辑试题:</h4>
            </div>
            <form th:action="@{/editJudgeQuestion}" method="post" target="myIframe" style="margin-left: 10%; margin-right: 5%;">
                <input type="hidden" id="judge_qid" name="judge_qid" style="display:none;" >
                <div class="form-group" style="margin-left:10% ;margin-right:15%;text-align:center;" >
                    <span style="font-size: 18px">题干：</span>
                    <p>
                        <textarea rows="4" cols="30" id="judge_question" name ="judge_question" class="form-control" style="font-weight: bold;" placeholder="请输入题干" required></textarea>
                    </p>
                    <div class="form-group" style="font-size: 24px;text-align:center; width:40%; display: inline-block;" >
                        <span style="font-size: 20px">课程：</span>
                        <select id="judge_courseId" name="judge_courseId" class="form-control" required>
                            <option th:each="course : ${courses}" th:value="${course.cid}" th:text="${course.cname}"></option>
                        </select>
                    </div>
                    <div  class="form-group" style="font-size: 24px;text-align:center; width:40%; display: inline-block; margin-right: 10%;" >
                        <span style="font-size: 20px">正确答案：</span>
                        <input type="radio" id="true_answer" name="judge_answer" value="A" required>
                        <label for="true_answer">True(A)</label>
                        <br>
                        <input type="radio" id="false_answer" name="judge_answer" value="B" style="margin-left: 37%;">
                        <label for="false_answer">False(B)</label>
                    </div>


                </div>
                <div style="text-align:center; margin-top: 2%; margin-bottom: 2%;">
                    <button type="submit" class="btn btn-primary" onclick="reloadInfo()">提交</button>
                </div>


            </form>
        </div>
    </div>
</div>


</body>
</html>