



.index-span-style {
    font-family: "华文彩云", serif;/*设置字体*/
    font-size:16px; /*设置字体大小*/
    font-weight:bolder; /*设置字体粗细*/
    -webkit-text-stroke:1px #007bff;        /*文字描边*/
    -webkit-text-fill-color:transparent;    /*设置文字的填充颜色*/
}

.index-div-background-color {
    background-color: #f5f5f5; /*设置背景颜色*/
}

.


