
form {
    text-align: center;
}
form .text {
    display: inline-block;
    border: 0;
    width: 260px;
    height: 35px;
    font-size: 14px;
    outline: none;
    border: 2px solid #01af63;
}
form .search {
    width: 90px;
    height: 38px;
    border: 2px solid #01af63;
    outline: none;
    cursor: pointer;
    text-align: center;
    background-color: #01af63;
    color: #FFFFFF;
}

 select {
     padding: 8px;
     border: 1px solid #999;
     border-radius: 5px;
     background-color: #f1f1f1;
     color: #333;
     font-size: 16px;
     width: 180px;
 }

/* 美化select的下拉箭头 */
select:after {
    content: "\25BC"; /* Unicode编码，表示向下的箭头 */
    position: absolute;
    top: 12px;
    right: 10px;
}

/* 美化选项内容 */
option {
    padding: 5px;
    background-color: #f9f9f9;
    color: #333;
}

.upload-container p {
    z-index: 0;
    width: 100%;
    background: #00bfff;
    color: #fff;
    padding: 10px 0;
    font-size: 12px;
}
input[type="radio"] {
    width: 20px; /* 设置宽度 */
    height: 20px; /* 设置高度 */
}