<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>在线考试系统</title>
    <script src="/static/js/jquery.js"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
  <style>
    body {
     background-image: url('/static/img/logo_bg.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  </style>

</head>
<body >
<div>
  <div style="height: 30vh;">
  </div>
  <div style="display: flex; justify-content: center; align-items: center;" class="index-span-style">
    <h3 style="letter-spacing:30px; text-align: center;">在线考试系统</h3>
  </div>
  <div style="display: flex; justify-content: center; align-items: center;" class="index-span-style">
    <span style="text-align: center; font-size: 1.5rem;">Online Examination System</span>
  </div>

  <div style="height: 20vh;">
  </div>
<!-- 登录按钮 -->
  <div style="display: flex; justify-content: center;" >
    <a href="/signin">
    <div  id="HaveNoLogin" class="btn btn-outline-primary" style="width: fit-content;">
      <span data-i18n="login" style="font-size: 1.5rem;"> 登 录 </span><span style="font-size: 1.5rem;">Login</span>
    </div>
    </a>
    <div  id="HaveLogin"  style="display: none; width: fit-content; justify-content: center; align-items: center;"  >
      <span class="index-span-style" style="font-size: 1.5rem;"> 欢迎使用在线考试系统 ，</span>
      <span  class="index-span-style" style="font-size: 1.5rem;" th:if="${user != null}" th:text="${user.getName()} " th:value="${user}" id="userName"></span>
      <br>
      <a type="button" href="/profile" class="btn btn-outline-primary"   style="font-size: 1.0rem; text-align: center; width: 100%;">进入系统</a>
    </div>
  </div>



  <script>
    var userName = $('#userName').text();
   if(userName == null || userName === ""){
     $('#HaveNoLogin').show();
     $('#HaveLogin').hide();
     $('#loginBtn').show();
     $('#logoutBtn').hide();
   }else{
     $('#HaveNoLogin').hide();
     $('#HaveLogin').show();
     $('#loginBtn').hide();
     $('#logoutBtn').show();
   }



  </script>


  <div class="container" style="max-width: 960px">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <h5>Copyright&copy;2024</h5>
        </div>
      </div>
    </footer>
  </div>
</div>

</body>
</html>