<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spring Mvc Web App</title>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/profile.js"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/profile.css" rel="stylesheet">
</head>
<body style="font-size:16px">
<div class="container" style="max-width: 960px">
    <div class="row">
        <div class="col-12 col-md">


            <nav class='sidebar sidebar-menu-collapsed'>
                <a href='#' id='justify-icon'>
                    <span class='glyphicon glyphicon-align-justify'></span>
                </a>
                <ul>
                    <li class='active'>
                        <a class='expandable' href='#' title='主页'>
                            <span class='glyphicon glyphicon-home collapsed-element'></span>
                            <span class='expanded-element'>主页</span>
                        </a>
                    </li>
                    <li>
                        <a class='expandable' href='/menu/exam' title='工具'>
                            <span class='glyphicon glyphicon-wrench collapsed-element'></span>
                            <span class='expanded-element'>工具</span>
                        </a>
                    </li>
                    <li>
                        <a class='expandable' href='#' title='设置'>
                            <span class='glyphicon glyphicon-cog collapsed-element'></span>
                            <span class='expanded-element'>设置</span>
                        </a>
                    </li>
                    <li>
                        <a class='expandable' href='/menu/account' title='账户'>
                            <span class='glyphicon glyphicon-user collapsed-element'></span>
                            <span class='expanded-element'>账户</span>
                        </a>
                    </li>
                </ul>
                <a href='#' id='logout-icon' title='Logout'>
                    <span class='glyphicon glyphicon-off'></span>
                </a>
            </nav>


        </div>
    </div>


</div>
</body>
</html>
