<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>登录</title>
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/common.css"/>
  <link rel="stylesheet" href="/css/font-awesome.min.css" />
</head>
<body>

<div class="wrap login_wrap">
  <div class="content">
    <div class="logo"></div>
    <div class="login_box">

      <div class="login_form">
        <div class="login_title" style="color: #007bff;">在线考试</div>
        <form action="/signin" method="post">
          <div class="form_text_ipt">
            <input name="userid" type="text" placeholder="用户名/学号">
          </div>
          <div class="ececk_warning"><span>用户名/学号不能为空</span></div>
          <div class="form_text_ipt">
            <input name="password" type="password" placeholder="密码">
          </div>
          <div class="ececk_warning"><span>密码不能为空</span></div>
          <div id="nogg" style="text-align: center"><span style="color: red;text-align: center" id="sb" th:text="${error}"/></div>
          <br>
          <div class="form_btn" >
            <button type="submit" style="background: #007bff;">登录</button>
          </div>
          <br>
          <br>
        </form>

        </div>
      </div>
    </div>
  </div>

<script type="text/javascript" src="/js/jquery.min.js" ></script>
<script type="text/javascript" src="/js/common.js" ></script>

</body>
</html>